.btn-xs {
    padding: 2px 5px;
    font-size: 12px;
}

.dataTables_wrapper .dataTable tbody tr.active, .dataTables_wrapper .dataTable tbody tr.active td {
    background-color: #E1F0FF !important;
}

.table-hover tbody tr:hover {
    background-color: #E1F0FF !important;
}

input.input-sm {
    height: 25px;
}

.checkbox.checkbox-outline.checkbox-primary > input:checked ~ span {
    background-color: #3699FF;
}

.checkbox.checkbox-outline.checkbox-primary > input:checked ~ span:after {
    border-color: #ffffff;
}

.fv-plugins-message-container .fv-help-block {
    display: none;
}

.js-equipment-not-checked {
    display: none;
}

@media (min-width: 992px) {
    .content {
        padding: 10px 0;
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        padding: 0 10px;
    }
}


@media (max-width: 991.98px) {
    .content {
        padding: 5px 0;
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: none;
        padding: 0 5px;
    }
}

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 0 10px 0 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd3-content .menu-page {
    margin: 0 15px;
}

.dd3-content .action-buttons {
    float: right;
    margin-right: 10px;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-content.inactive {
    border: 1px solid #afafaf;
    background: #e5e5e5;
    font-weight: normal;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}
